@mixin animationInfo{
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    
}

*{
    padding: none;
    margin: none;
}
body{
    overflow: hidden !important;
    padding: none;
    margin: none;
    height: 97vh;
    width: 97%;
    background-image: url('./customPhotos/mainbkrnd2bh.png');
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Press Start 2P', cursive;
    background-size: 100vw 100vh;

    h1{
        font-size: 4vw;
        transition: all ease 10s;
        margin: 10vw 0vw;

    }
    h3{
        font-size: 3vw;
        transition: all ease 10s;
        margin: 10vw 0vw;

    }
    
    img{
        position: absolute;
        @include animationInfo();

    }

    .outer{
        animation: rotation 5s infinite linear;
        width: 45%;

    }
    .inner{
        animation: rotation 2s infinite linear;
        width: 40%;


    }
    .center{
        animation: rotation .25s infinite linear;
        width: 22%;


    } 
    *{
        padding: none;
        margin: none;
    }
    .smallFont{
        font-size: 0vw !important;
        margin: 0vw 0vw !important;
    }
    .centerJustify{
        justify-content: center !important;    
    }
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

